body{background-color:lightgreen;}
h1{text-align: center; font-size: 45;}
table{margin:auto;}
img.w{height: 400px; margin-left: 20%;}
img{height: 400px;}
p
{
	text-align: justify;
	font-size: 20;
	margin-left: 150;
	margin-right: 150;
}